[submodule "API"]
	path = Nest-API
	url = git@github.com:4oi/Nest-API.git
[submodule "Basic"]
	path = Nest-Basic
	url = git@github.com:4oi/Nest-Basic.git
[submodule "BukkitAPI"]
	path = Nest-BukkitAPI
	url = git@github.com:4oi/Nest-BukkitAPI.git
[submodule "BukkitCore"]
	path = Nest-BukkitCore
	url = git@github.com:4oi/Nest-BukkitCore.git
[submodule "BukkitEvents"]
	path = Nest-BukkitEvents
	url = git@github.com:4oi/Nest-BukkitEvents.git
[submodule "BukkitVault"]
	path = Nest-BukkitVault
	url = git@github.com:4oi/Nest-BukkitVault.git
[submodule "BungeecordAPI"]
	path = Nest-BungeecordAPI
	url = git@github.com:4oi/Nest-BungeecordAPI.git
[submodule "BungeecordCore"]
	path = Nest-BungeecordCore
	url = git@github.com:4oi/Nest-BungeecordCore.git
[submodule "Core"]
	path = Nest-Core
	url = git@github.com:4oi/Nest-Core.git
[submodule "Events"]
	path = Nest-Events
	url = git@github.com:4oi/Nest-Events.git
[submodule "SpongeCore"]
	path = Nest-SpongeCore
	url = git@github.com:4oi/Nest-SpongeCore.git
[submodule "Nest-BukkitBasic"]
	path = Nest-BukkitBasic
	url = git@github.com:4oi/Nest-BukkitBasic.git
[submodule "Nest-SpongeAPI"]
	path = Nest-SpongeAPI
	url = git@github.com:4oi/Nest-SpongeAPI.git
